@{
    ViewBag.Title = "Home Page";
}

<font color="white">
    <center><h1> PROYECTO ASP</h1></center>
</font>



<body background= "https://31.media.tumblr.com/951c072d75619c67c75778fcee04a660/tumblr_mggxdpgonT1rzu3vmo1_500.gif ">
    </body> 
    
    <center>
        <div class="dropdown-item">


            <div class="profile_pic">
                <img src="https://media1.tenor.com/images/a9571329eef168be922624313e775c81/tenor.gif?itemid=15064465 " class="img-circle profile_img">
            </div>
            <div class="profile_info">
            </div>

        </div>
    </center>

