
@{
    ViewBag.Title = "Login";
}

<center>
    <h2>Iniciar Sesión</h2>
</center>

@{       if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-warning">@ViewBag.Message</div>
            }
}

    <div class="form-horizontal">
        <form action="/Usuario/Login" method="post">
            @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="control-label col-md-5">  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuario</label>
                    <div class="col-md-14">
                        <input type="text" name="user" class="form-control"  />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-5"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Contraseña</label>
                    <div class="col-md-14">
                        <input type="password" name="Contraseña" value="" class="form-control"  />

                    </div>
                </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-14">
                    <input type="submit" name="" value="Ingresar" class="btn btn-default" />
                </div>
            </div>

        </form>
    </div>
